{% extends 'restaurant/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

{% include 'restaurant/header.html' %}


<div class="container mt-5">
    <div class="row text-start">
        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Восстановить пароль</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="form-floating" action="{% url 'users:change_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-lg btn-block btn-outline-dark mt-3">
                            Восстановить
                        </button>
                        <a type="button" class="btn btn-lg btn-block btn-outline-dark mt-3" href="{% url 'users:login'%}" >Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}