{% extends 'restaurant/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}

{% include 'restaurant/header.html' %}

<div class="container mt-5">
    <h1 class="text-center text-white">Регистрация</h1>
    <form method="post" class="p-4 rounded shadow-sm" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
            <div class="col-md-6 mx-auto">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning">Регистрация</button>
            </div>
    </form>
</div>
<div class="container mt-5">
    <h1 class="text-center text-white">Восстановление пароля</h1>
    <a href="/" class="btn btn-link text-white">Восстановить пароль</a>
</div>


{% endblock %}